#questions{'ng-controller' => 'show_questions'}
  %h1 Current Questions


  %table.table.table-striped
    %tr{:'ng-repeat' => 'question in questions'}
      = render :partial => 'questions/question'

  %form{:'ng-submit' => 'addQuestion(newQuestion)'}
    %input{:type => 'text', :'ng-model' => 'newQuestion.question'}
    %input{:type => 'submit', :class => 'btn-primary btn', :value => 'ask question'}

