#questions{'ng-controller' => 'show_questions'}
  %h1 Current Questions


  %table.table.table-striped
    %tr{:'ng-repeat' => 'question in questions'}
      = render :partial => 'questions/question'

  %form{:'ng-submit' => 'addQuestion(newQuestion)', :name => 'questionsForm'}
    .input-append{'ng-class' => "{error: myForm.name.$invalid}"}
      %input{:type => 'text', :'ng-model' => 'newQuestion.question', :required => ''}
      %input{:type => 'submit', :class => 'btn-primary btn', :value => 'ask question'}

